body{
    background-color:#FFFFFF ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header style */
header{
    display: flex;
    align-items: center;
    height: 92px;
    background-color:rgba(255, 255, 255, 1);
}
header .container{
    width: 100%;
    max-width: 1600px;
    padding:0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo img {
    height: 40px;
    width: auto;
    display: block;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 55px;
    flex: 1;
}
.nav-content{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
   margin: 0;
   padding: 0;
}
.nav-content a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color:rgba(0, 0, 0, 1);
    transition: all .3s ease; 
}
.nav-content a:hover{
    color: #2f7a775e;
}
.nav-btn button{
    background-color: #30B868;
    border:none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight:bold;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 6px;
}
.nav-btn button:hover{
    background-color: #259e57;
}
/* header close(improvement need) */